<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>depressedBot</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="chat-container">
        <div class="row">
          <div class="col-12">
            <div class="chat-header d-inline-flex">
              <img
                src="{{ url_for('static', filename='img/botprofile.jpg') }}"
                class="profile-image"
                id="bot-image"
              />
              <h3 class="bot-name"> Karl Mraxx</h3>
            </div>
            <div class="chat-container" id="chat-container">
              <!-- Chat bot -->
            </div>
            <input
              type="text"
              class="chat-input"
              name="user-chat"
              id="chat-input"
            />
          </div>
        </div>
      </div>
    </div>
 <!--src=""-->
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>  
      $(document).ready(function() {
        var date = new Date;
        var hour = date.getHours();
        if (hour < 12 && hour > 5 ) {
          botChat("selamat pagi!");
        }
        else if (hour >= 12 && hour < 15) {
          botChat("selamat siang");
        } 
        else if (hour >= 15 && hour < 18) {
          botChat("selamat sore");
        }
        else if (hour >= 18 && hour < 23) {
          botChat("selamat malam");
        }
        else {
          botChat("jangan lupa tidur bray");
          botChat("btw");
        }
        var data = "ada yang bisa dibantu?";
        botChat(data);
      });

      function botChat(data) {
        var botChatHtml =
            "<div class='d-flex flex-row'> <div class='bot-chat'> <div class='chat-text'>" +
            data +
            "</div> </div> <div class='chat-time'>"+ getTime() +"</div> </div>";
        $("#chat-container").append(botChatHtml);
          document
            .getElementById("chat-input")
            .scrollIntoView({ block: "start", behavior: "smooth" });
      }

      function userChat(textInput) {
        var chatHtml =
          '<div class="d-flex flex-row-reverse"> <div class="user-chat"> <div class="chat-text">' +
          textInput +
          '</div> </div> <div class="chat-time">'+ getTime() +'</div> </div>';
        // Mengosongkan input chat
        $("#chat-input").val("");
        // Menambahkan chat user ke dalam HTML
        $("#chat-container").append(chatHtml);
        document
          .getElementById("chat-input")
          .scrollIntoView({ block: "start", behavior: "smooth" });
      }

      function getTime() {
        return new Date().toLocaleTimeString([], { hour: '2-digit', minute: "2-digit" });
      }

      function getBotChat() {
        // Mengubah ke image gerak
        $("#bot-image").attr("src","https://media1.giphy.com/media/OPMBFWxXQYMJq/giphy.gif");
        // Mengambil value dari input chat
        var textInput = $("#chat-input").val();
        // Template HTML untuk chat user
        userChat(textInput);
        $.get("/bot", { "user-chat": textInput }).done(function (data) {
          // Template HTML untuk chat bot
          botChat(data);
          // Mengganti kembali image
          $("#bot-image").attr("src","{{ url_for('static', filename='img/botprofile.jpg') }}");
        });
      }
      // Jika enter, maka jalankan fungsi getBotChat()
      $("#chat-input").keypress(function (e) {
        if (e.which == 13) {
          getBotChat();
        }
      });
    </script>
  </body>
</html>
